#########################################
# Terraform                             #
#########################################
**/.terraform*
*.tfstate*
*.tfvars


#########################################
# Credentials                           #
#########################################
.infra/credentials/*